settings_local.py
nbproject/
.project
.pydevproject
*.pyc
*.html~
*.py~
*.js~
*.css~
*.db
*.sql
local_settings.py
../.ninjaproject/config.py
.*config.py
*.svn/*.*
/media/profile/*.*
*.pyo
*.tar.bz
*.tar
*.tar.bz2
*.tar.gz
.DS_Store
/datos
uploads/
.ropeproject
*.sublime-project
*.sublime-workspace
