{% extends "base.html" %}

{% block extra_js %}
<link href="/files/css/jquery.autocomplete.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/files/js/autocompletejs/jquery.autocomplete.js"></script>
{% endblock %}

{% block contenido %}
	<form enctype="multipart/form-data" action="." method="post" accept-charset="utf-8">{% csrf_token %}
		{{ form.media }}
		{{form.as_p}}
		{{form1.as_p}}
		<input id="boton-preguntar" type="submit" value="Guardar">
	</form>
{% endblock %}