<!DOCTYPE html>
<html lang="en">
{% load google_cse_tags %}
<head>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	<title>{%block title%}CAFOD{%endblock%}</title>
  <!--[<link type="text/css" rel="stylesheet"  href="/files/css/cafod.css">-->
  {% load compress %} 
  {% compress css %}
    <link type="text/css" rel="stylesheet"  href="/files/bootstrap/css/bootstrap.min.css" >
    <link type="text/css" rel="stylesheet"  href="/files/css/cafod.css">
    <link type="text/css" rel="stylesheet"  href="/files/css/jquery.fancybox.css" >
    <link type="text/css" rel="stylesheet"  href="/files/css/jqueryui.css" >
  {% endcompress %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  {% compress js %}
    <script type="text/javascript" src="/files/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/files/bootstrap/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="/files/js/fancybox.pack.js"></script>
    <script type="text/javascript" src="/files/js/jqueryui.js"></script>
    <script type="text/javascript">
      $(function() {
      $("#id_apertura , #id_cierre , #id_fecha_skype , #id_memoria, #id_inicio, #id_final").datepicker({ 
          dateFormat: 'dd/mm/yy', 
          dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], 
          monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
          changeYear: true
        });
    });
    </script>
  {% endcompress %}
  {%block extra_js%}{%endblock%}
</head>
<body>

{% block header %}
  
    <div class="navbar ">
        <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="/">
                <i class="icon-home icon-white opacidad-50"></i>Plataforma de comunicación y aprendizaje
              </a>
              <ul class="nav pull-right">
                  <li class="divider-vertical"></li>
                  {% if user.username %}
                    <li ><a href="/foros/perfil"><i class="icon-user icon-white opacidad-50"></i>Bienvenido {{ user.username }}</a></li>
                    <li class="divider-vertical"></li>
                    <li ><a href="/contrapartes/estadisticas/ver"><i class="icon-signal opacidad-50 icon-white"></i>Estadísticas</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="/accounts/logout" title="Salir de Administración"><i class="icon-off opacidad-50 icon-white"></i>Salir</a></li>
                  {% else %}
                    <li><a href="/accounts/login"><i class="icon-user opacidad-50 icon-white"></i>Entrar</a></li>
                  {% endif %}
              </ul>
              {% load_searchform %}
            </div>
        </div>
    </div>
    <div class="row" id="grisheader-admin">
      <div class="container">
        <div class="row">
          <div class="span3" >
            <img src="/files/img/cafodlogoadmin.png">
          </div>
          <div class="span9" id="barra-admin">
            <div class="divisor-barra-admin"></div>
            <a href="/foros/privado/nota" class="notaiconadmin">Mis Notas</a>
            <div class="divisor-barra-admin"></div>
            <a href="/agendas/calendario" class="agendaiconadmin">Mi Agenda</a>
            <div class="divisor-barra-admin"></div>
            <a href="/foros" class="foroiconadmin">Foro</a>
            <div class="divisor-barra-admin"></div>
            <a href="/foros/privado/documento" class="documentosiconadmin">Documentos</a>
            <div class="divisor-barra-admin"></div>
            <a href="/foros/privado/multimedia_fotos" class="multimediaiconadmin">Multimedia</a>
            <div class="divisor-barra-admin"></div>
            <a href="/contrapartes/mensaje/ver" class="adminmensaje">Mensajes</a>
            <div class="clean"></div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}

{%block contenido%}{%endblock%}

{%block footer%}
  <footer>
      <div class="row dividerline">
      </div>
      <div class="row footer">
        <div class="container">
            <div class="row">
              <div class="span12 footerinterior">
                <div class="footertext1">Programa Medios de Vida Sostenible</div>
                <div class="footertext2">CAFOD is the official Catholic Aid Agency for England and Wales</div>
                <div class="footertext2">Desarrollado por <a href="http://www.simas.org.ni/">SIMAS</a></div>
              </div>
            </div>
        </div>
      </div>
  </footer>
{%endblock%}

</body>
</html>
