<!DOCTYPE html>
<html lang="en">
{% load google_cse_tags %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	<title>{%block title%}CAFOD{%endblock%}</title>
  {% load compress %}
  {% compress css %}
    <link type="text/css" rel="stylesheet"  href="/files/bootstrap/css/bootstrap.min.css" >
    <link type="text/css" rel="stylesheet"  href="/files/css/cafod.css">
  {% endcompress %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  {% compress js %}
    <script type="text/javascript" src="/files/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/files/bootstrap/js/bootstrap-transition.js"></script>
  {% endcompress %}
  {%block extra_js%}{%endblock%}
</head>
<body>

{% block header %}
  
    <div class="navbar ">
        <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="/">
                <i class="icon-home icon-white opacidad-50"></i>Plataforma de comunicación y aprendizaje
              </a>
              <ul class="nav pull-right">
                  <li class="divider-vertical"></li>
                  {% if user.username %}
                    <li ><a href="/foros/perfil"><i class="icon-user icon-white opacidad-50"></i>Bienvenido {{ user.username }}</a></li>
                    <li class="divider-vertical"></li>
                    <li ><a href="/contrapartes/estadisticas/ver"><i class="icon-signal opacidad-50 icon-white"></i>Estadísticas</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="/accounts/logout" title="Salir de Administración"><i class="icon-off opacidad-50 icon-white"></i>Salir</a></li>
                  {% else %}
                    <li><a href="/accounts/login"><i class="icon-user opacidad-50 icon-white"></i>Entrar</a></li>
                  {% endif %}
              </ul>
              {% load_searchform %}
            </div>
        </div>
    </div>
    <div class="row" id="grisheader">
      <div class="container">
        <div class="row">
          <div class="span12" id="menulogo">
              <div class="row">
                  <div class="span8 offset4" id="menu">
                    <a href="/" class="iniciomenu">Inicio</a>
                      <a href="/notas" class="blogmenu">Notas</a>
                      <a href="/acerca" class="acercamenu">Acerca de</a>
                      <a href="/contrapartes" class="contrapartemenu">Contrapartes</a>
                      <a href="/agendas/eventos" class="eventomenu">Eventos</a>
                      <div class="clean"></div>
                  </div>
              </div>
          </div>
          <div class="span12">
            <div class="row">
               <div class="span6" id="banner">
                    <img src="/files/img/banner.png">
                </div>
               <div class="span6 bienvenida">
                   <div id="bienvenida-title">Programa Medios de Vida Sostenible y Gestión de Riesgo </div>
                   Fortaleciendo la alianza entre las organizaciones socias del programa "Medios de vida sostenible" de CAFOD en Centroamérica, para mejorar el aprendizaje e impacto de los proyectos.
               </div>
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}

{%block contenido%}{%endblock%}

{%block footer%}
  <footer>
      <div class="row dividerline">
      </div>
      <div class="row footer">
        <div class="container">
            <div class="row">
              <div class="span12 footerinterior">
                <div class="footertext1">Programa Medios de Vida Sostenible</div>
                <div class="footertext2">CAFOD is the official Catholic Aid Agency for England and Wales</div>
                <div class="footertext2">Desarrollado por <a href="http://www.simas.org.ni/">SIMAS</a></div>
              </div>
            </div>
        </div>
      </div>
  </footer>
{%endblock%}

</body>
</html>
