{% extends "base.html"%}
{% block extra_js%}
<link href="/files/js/bxslider/jquery.bxslider.css" rel="stylesheet" /><!-- bxSlider CSS file -->
<script type="text/javascript">
  $(document).ready(function(){

  var slider = $('#slider1').bxSlider({
    controls: true,
    auto:true,
    pause:8000,
    speed:1500,
    prevImage:'/files/img/prev.png',
    nextImage:'/files/img/next.png',
  });

});
</script>

{%endblock%}
{%block contenido%}

  <div class="row" id="actualidad">
    <div class="encabezado">
      <div class="container">
        <div class="row">
        <div class="span12 encabezado-title">
          ACTUALIDAD DE CONTRAPARTES
        </div>
      </div>
      </div>
    </div>
    
<div class="container">
<div class="row">

<div class="span9 tablet-contenido">
{% for nota in notas|slice:"1" %}
  <div class="span4 tablet-noticia">
      <div class='wrapper'>  
          
            {%for thumb in nota.fotos.all|slice:"1"%}        
               <img src="{{thumb.foto.url_300x200}}">  
            {%endfor%} 
            <div class='description'>              
              <p class='description_content'><a class="title-a" href="#">{{nota.titulo}}</a></p> 
            </div> 
                  
      </div>
  </div>
  <div class="span4 tablet-noticia">
    <div class="span4 tablet-noticia">  
        <div class="info-new">
          <div class="up-event-user">{{nota.user.first_name}} {{nota.user.last_name}}</div>
          <div class="up-event-date">{{nota.fecha|date:"M t, Y"}}</div>
        
        </div>
    </div>

    <div class="span4 news-desc tablet-noticia">
    {{nota.contenido|safe|truncatewords_html:30}}
    <br><br>
    <a class="btn leermas" href="/notas/{{nota.id}}">Leer más..</a>
    <br>
    </div>
  </div>
{%endfor%}
<div class="row">
    <div class="span9 slider tablet-contenido">

      <div class="slidernews">
      {% for nota in notas2 %}
        <div class="slide">
          {%for thumb in nota.fotos.all|slice:"1"%}        
               <img src="{{thumb.foto.url_220x160}}">  
            {%endfor%}
          <div class='description'>         
            <p class='description_content-slider'><a class="title-a" href="/notas/{{nota.id}}">{{nota.titulo|truncatewords:5}}</a></p>   
          </div>
        </div>
      {%endfor%}

        </div>
    </div>
  </div>
</div>


<h4 class="eventitle">Eventos</h4>
        <div class="span2 evento ">   
        {% for even in evento %}
          
            <article class="event">
              <div class="fecha">
                  <span class="day">{{even.inicio|date:"t"}}</span>
                  <span class="month">{{even.inicio|date:"M"}}</span>
                  <span class="year">{{even.inicio|date:"Y"}}</span>
              </div>
              <div class="event-data">
                  <h5>{{even.evento|truncatewords:"4"}}</h5>
              </div>
              <a href="/agendas/eventos/{{even.id}}">VER MÁS</a>
            </article>

        {% endfor %}

        </div>
      </div>
    </div>
</div>




  <div class="row">
    <div class="encabezado">
      <div class="container">
        <div class="row">
        <div class="span12 encabezado-title">
          MIEMBROS
        </div>
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
         {%for p in paises%}
            <div class="span3 org-footer">
               <div class="pais-footer"><img src="/files/img/{{p.codigo}}-g.png">{{p.nombre}}</div>
               <ul>
                  {%for c in contrapartes%}
                      {%if c.pais.id == p.id %}
                         <li><a href="{{c.get_absolute_url}}">{{c.siglas}}</a></li>  
                      {%endif%}
                  {%endfor%}       
               </ul>
            </div>
         {%endfor%}
      </div>
    </div>
  </div>
    <script src="/files/js/bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.slidernews').bxSlider({
            slideWidth: 195,
            minSlides: 1,
            maxSlides: 4,
            moveSlides: 1,
            slideMargin: 10,
            auto: true,
            autoHover:true,
            preventDefaultSwipeX:false,
            pager:false
           
          });
        });
    </script>
{%endblock%}
