{% extends "base.html"%}
{% block extra_js%}
<script type="text/javascript" src="/files/js/jquery.bxSlider.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

  var slider = $('#slider1').bxSlider({
    controls: true,
    auto:true,
    pause:8000,
    speed:1500,
    prevImage:'/files/img/prev.png',
    nextImage:'/files/img/next.png',
  });

});
</script>

{%endblock%}
{%block contenido%}

  <div class="row" id="actualidad">
    <div class="encabezado">
      <div class="container">
        <div class="row">
        <div class="span12 encabezado-title">
          ACTUALIDAD DE CONTRAPARTES
        </div>
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
<div class="span9">
    <div id="slider1">
        <div>
               {% for nota in notas%}
                  <div class="cuadronota">
                   <div class="pais-index">{{nota.user.userprofile.contraparte.pais.nombre}}<img src="/files/img/{{nota.user.userprofile.contraparte.pais.codigo}}.png"></div>
                   {%for thumb in nota.fotos.all|slice:"1"%} 
                         <img class="imagen-noticia-index" src="{{thumb.foto.url_220x160}}">
                   {%endfor%}
                   <div class="titulo-noticia-index">
                     {{nota.titulo}}
                   </div>
                   <div class="detalle-noticia-index">
                     {{nota.contenido|safe|truncatewords_html:20}}
                   </div>
                   <a href="/notas/{{nota.id}}" class="btn btn-inverse btn-mini">Leer más</a>
                 </div>
              {% endfor %}   
          </div> 
          <div>
               {% for nota in notas2%}
                  <div class=" cuadronota">
                   <div class="pais-index">{{nota.user.userprofile.contraparte.pais.nombre}}<img src="/files/img/{{nota.user.userprofile.contraparte.pais.codigo}}.png"></div>
                   {%for thumb in nota.fotos.all|slice:"1"%} 
                         <img class="imagen-noticia-index" src="{{thumb.foto.url_220x160}}">
                   {%endfor%}
                   <div class="titulo-noticia-index">
                     {{nota.titulo}}
                   </div>
                   <div class="detalle-noticia-index">
                     {{nota.contenido|safe|truncatewords_html:20}}
                   </div>
                   <a href="/notas/{{nota.id}}" class="btn btn-inverse btn-mini">Leer más</a>
                 </div>
              {% endfor %}
          </div>
    </div>
</div>

        <div class="span3 eventoindex-nuevo">
           <div class="pais-index">Próximos Eventos</div>
           <div class="clean"></div>
          {%for e in evento%}
            <div class="index-fechaevento-nuevo">
              <center>{{e.inicio|date:"d F" }}</center>
            </div>
            <div class="index-nombreevento-nuevo">
              <a href="/agendas/eventos/{{e.id}}">{{e.evento|safe|truncatewords_html:8}} </a>
            </div>
            <div class="clean"></div>
          {%endfor%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="encabezado">
      <div class="container">
        <div class="row">
        <div class="span12 encabezado-title">
          MIEMBROS
        </div>
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
         {%for p in paises%}
            <div class="span3 org-footer">
               <div class="pais-footer"><img src="/files/img/{{p.codigo}}-g.png">{{p.nombre}}</div>
               <ul>
                  {%for c in contrapartes%}
                      {%if c.pais.id == p.id %}
                         <li><a href="{{c.get_absolute_url}}">{{c.siglas}}</a></li>  
                      {%endif%}
                  {%endfor%}       
               </ul>
            </div>
         {%endfor%}
      </div>
    </div>
  </div>
{%endblock%}
