{% extends "baseadmin.html" %}
{%block extra_js%}
<link href="/files/css/jquery.autocomplete.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/files/js/autocompletejs/jquery.autocomplete.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
		$('input').tooltip({'placement':'right'});
	});
</script>
<style type="text/css">
	.fixed{position: fixed; top: 10px;}
</style>
<script type="text/javascript">
	$(function() {
		$elem = $('#actionbuttons');
		
		// detectar el scroll de la ventana y fixear el elemento
	    $(window).bind('scroll', function() {
	    	var windowTop = $(this).scrollTop();
	    	if(windowTop>=310){
	    		$elem.addClass('fixed');
	    	}else{
	    		// volver elemento a su lugar
	    		$elem.removeClass('fixed');
	    	}
	    }); 
	    var $file = $('.file > a');
	    var url = $file.text();
	    $file.html('');
	    $file.append('<img src="/uploads/'+url+'" width="60" height="60">');

	    //para definir el alto de las tabs igual a su contenido
	    var alto = $('.tab-content').height();
	    $('.nav-tab-media').height(alto);

	});
</script>
{%endblock%}
{% block contenido %}
<div class="row">
    <div class="encabezado">
      <div class="container">
            <div class="row">
                <div class="span5">
                    <div class="encabezado-title">
                        NOTAS
                    </div>
                </div>
                <div class="span7">
                </div>
            </div>
      </div>
    </div>
</div>
<div class="row">
	<div class="container">
		<div class="row">
			<form enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
					{{ form.media }}
			<div class="span9">
				<div class="well">
					{%if form.errors%}
						<div class="alert alert-error"><b>Favor corregir los siguientes errores</b><br>{{form.errors}}</div>
					{%endif%}
					<label class="control-label">{{form.titulo.label}}</label>
					{{form.titulo}}
					<hr>

					<label class="control-label">{{form.contenido.label}}</label>
					{{form.contenido}}
					<hr>
					<div class="tabbable tabs-left">
						<ul class="nav nav-tabs nav-tab-media">
						  <li class="active"><a href="#fotos" data-toggle="tab"><i class="icon-camera"></i>Fotos e imágenes</a></li>
						  <li><a href="#documentos" data-toggle="tab"><i class="icon-file"></i>Documentos</a></li>
						</ul>
						<div class="tab-content tab-media">
						  <div class="tab-pane active" id="fotos">
						  	<span class="label label-warning">FOTOS</span><hr>
							{% for foto in form2 %}
								{{foto.label_tag}}
								{{foto}}
							{% endfor %}
							<hr>
						  </div>
						  <div class="tab-pane" id="documentos">
						  	<span class="label label-warning">DOCUMENTOS</span><hr>
							{% for docu in form3 %}
								{{docu.label_tag}}
								{{docu}}
							{% endfor %}
							<hr>
						  </div>
						</div>
						<div class="clean"></div> 
					</div>
				</div>
			</div>
			<div class="span3">
				<div class="alert "><i class="icon-info-sign"></i>
				  Crear una nota para presentar al público un contenido destacado de tu organización
				</div>
				<div class="well" id="actionbuttons">
				<input class="btn btn-large btn-success " style="" type="submit" id="submitfoo" value="Guardar" />
				<a href="/notas/{{nota.id}}" class="btn btn-large">Cerrar</a>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}
