{% extends "baseinterna.html" %}
{% block contenido %}
<div class="row">
	<div class="encabezado">
	  <div class="container">
		    <div class="row">
			    <div class="span7">
			    	<div class="encabezado-title">
			      		NOTAS
			  		</div>
			    </div>
			    <div class="span5">
					<div class="btn-group filtrospais">
					  <a class="btn disabled">Filtrar por</a>
					  <button class="btn"><img src="/files/img/ni.png">Nicaragua</button>
					  <button class="btn"><img src="/files/img/ni.png">Guatemala</button>
					  <button class="btn"><img src="/files/img/ni.png">El salvador</button>
					</div>
			    </div>
	        </div>
	  </div>
	</div>
</div>
<div class="row">
	<div class="container">
		{% for nota in notas %}
			<div class="row">
				<div class="span3">
				 {%for thumb in nota.fotos.all|slice:"1"%} 
	                   <img  src="{{thumb.foto.url_220x160}}">
	             {%endfor%}
				</div>
				<div class="span9">
						<div class="extrainfo">{{nota.fecha}}  |  {{nota.pais.nombre}} | {{nota.contraparte.nombre}}</div>
						<a href="{{nota.get_absolute_url}}" class="titulo-medio">{{nota.titulo}}</a><br>
						{{nota.contenido|safe|truncatewords_html:50}} <br><br>
						<a href="" class="btn btn-success btn-mini">Leer mas</a>
				</div>
			</div>
			<hr>
		{% endfor %}
{% if is_paginated %}
    <ul class="pagination">
        {% if notas.has_previous %}
        <li>
          <a href="{% url notas_list %}?page={{ notas.previous_page_number }}">
            ← Anterior</a>
        </li>
        {% endif %}
        <li class="active">
            <!-- current page -->
               <a href="#"> Page {{ notas.number }} of {{ notas.paginator.num_pages }}</a>
            <!-- end current page -->
        </li>
        {% if notas.has_next %}
         <li>
         <a href="{% url notas_list %}?page={{ notas.next_page_number }}">
                Siguiente →</a>
         </li>
         {% endif %}
    </ul>
{% endif %}
	</div>
</div>
{% endblock %}