{% extends "baseinterna.html" %}
{% block title %}{{object.nombre}}{% endblock %}
{% block contenido %}
<div class="row">
    <div class="encabezado">
      <div class="container">
            <div class="row">
                <div class="span5">
                    <div class="encabezado-title">
                        CONTRAPARTES
                    </div>
                </div>
                <div class="span7">
                 <div class="btn-group acciones">
                        {% if objetc.userprofile.user == request.user or request.user.is_superuser %}
                            <a class="btn" href="/contrapartes/editar/{{object.id}}"><i class="icon-pencil"></i>Editar</a>
                            <a class="btn" href="/contrapartes/borrar/{{object.id}}"><i class="icon-remove-sign"></i>Borrar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>
    <br>
         Nombre: {{object.nombre}}<br> 
         {% if object.logo %}
             Logo: <img src="{{object.logo}}" alt="{{object.nombre}}"> <br>
         {% endif %}
         Pais: {{object.pais}} <br>
         {% if object.fundacion %}
             Año de Fundación: {{object.fundacion}}<br>
         {% endif %}
         {% if object.temas %}
             Temas: {{object.temas}}<br>
         {% endif %}
         {% if object.generalidades %}
             Generalidades: {{object.generalidades|safe}}<br>
         {% endif %}
         {% if object.contacto %}
             Contacto: {{object.contacto}}<br>
         {% endif %}
         {% if object.telefono %}
             Telefono: {{object.telefono}}<br>
         {% endif %}
         {% if object.sitio_web %}
             Sitio Web: {{object.sitio_web}}<br>
         {% endif %}
         {% if object.rss %}
             RSS: {{object.rss}}<br>
         {% endif %}

                
{% endblock %}