{% extends "baseadmin.html" %}
{%block extra_js%}
<script type="text/javascript">
    $(document).ready(function(){
		$('input').tooltip({'placement':'right'})
	});
</script>

<script type="text/javascript">
	$(function() {
		$elem = $('#actionbuttons');
		
		// detectar el scroll de la ventana y fixear el elemento
	    $(window).bind('scroll', function() {
	    	var windowTop = $(this).scrollTop();
	    	if(windowTop>=310){
	    		$elem.addClass('fixed');
	    	}else{
	    		// volver elemento a su lugar
	    		$elem.removeClass('fixed');
	    	}
	    }); 

	    //para definir el alto de las tabs igual a su contenido
	    var alto = $('.tab-content').height();
	    $('.nav-tab-media').height(alto);
	});
</script>
{%endblock%}
{% block contenido %}
<div class="row">
    <div class="encabezado">
      <div class="container">
            <div class="row">
                <div class="span5">
                    <div class="encabezado-title">
                        CONTRAPARTES : <b>EDITAR</b>
                    </div>
                </div>
                <div class="span7">
                </div>
            </div>
      </div>
    </div>
</div>
<div class="row">
	<div class="container">
		<div class="row">
			<form enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
					{{ form.media }}
			<div class="span9">
				<div class="well">
					{%if form.errors%}
						<div class="alert alert-error"><b>Favor corregir los siguientes errores</b><br>{{form.errors}}</div>
					{%endif%}
					<label class="control-label">{{form.nombre.label}}</label>
					{{form.nombre}}
					<hr>
					<label class="control-label">{{form.siglas.label}}</label>
					{{form.siglas}}
					<hr>
					<label class="control-label">{{form.pais.label}}</label>
					{{form.pais}}
					<hr>
					<label class="control-label">{{form.logo.label}}</label>
					<span class="file">
					{{form.logo}}
					</span>
					<hr>
					<label class="control-label">{{form.fundacion.label}}</label>
					{{form.fundacion}}
					<hr>
					<div class="form-inline">
						<div class="input-append">
							<label class="control-label">{{form.contacto.label}}</label>
							{{form.contacto}}<span class="add-on"><img src="/files/img/icon/user_green.png"></span>
						</div>
					</div>
					<div class="form-inline">
						<div class="input-append">
							<label class="control-label">{{form.telefono.label}}</label>
							{{form.telefono}}<span class="add-on"><img src="/files/img/icon/telephone.png"></span>
						</div>
					</div>
					<div class="clean"></div>
					<hr>
					<div class="form-inline">
						<div class="input-append">
							<label class="control-label">{{form.sitio_web.label}}</label>
							{{form.sitio_web}}<span class="add-on"><img src="/files/img/icon/link.png"></span>
						</div>
					</div>
					<div class="form-inline">
						<div class="input-append">
							<label class="control-label">URL RSS</label>
							{{form.rss}}<span class="add-on"><img src="/files/img/icon/rss.png"></span>
						</div>
					</div>
					<div class="clean"></div>
					<hr>
					<label class="control-label">{{form.temas.label}}</label>
					{{form.temas}}
					<hr>
					<label class="control-label">{{form.generalidades.label}}</label>
					{{form.generalidades}}
					<hr>
					<label class="control-label">{{form.font_color.label}}</label>
					{{form.font_color}}
					<hr>
				</div>
			</div>
			<div class="span3">
				<div class="alert "><i class="icon-info-sign"></i>
				  Esta es la información general de la contraparte que se presenta en la parte pública
				</div>
				<div class="well" id="actionbuttons">
				<input class="btn btn-large btn-success " style="" type="submit" id="submitfoo" value="Guardar" />
				<a href="/contrapartes/{{contra.id}}" class="btn btn-large">Cerrar</a>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
