{% extends "baseadmin.html" %}
{% block extra_js %}
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
    		openEffect	: 'elastic',
    		closeEffect	: 'elastic',
    		autoSize : true,
    		width : 600,
    		height : 1000,

    		helpers : {
    			title : {
    				type : 'inside'
    			}
    		},
    		afterClose: function() { window.location.href='/foros/perfil';}
	});
 });   

</script>
	
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="encabezado">
      <div class="container">
            <div class="row">
                <div class="span5">
                    <div class="encabezado-title">
                        EDITAR USUARIO
                    </div>
                </div>
                <div class="span7">
                </div>
            </div>
      </div>
    </div>
</div>
<div class="row">
	<div class="container">
		<div class="row">

			<form enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
			<div class="span9">
							<div class="well">
				{{ form.media }}

	{{form.as_p}}
	{{form1.as_p}}
	<br>
	<a data-fancybox-type="iframe" class="fancybox" href="/password_change/">Cambiar contraseña</a>
	<div id="resultados" style="display: none"></div>	
</div>
			</div>
			<div class="span3">
				<div class="alert "><i class="icon-info-sign"></i>
				  Editar informacion general del usuario
				</div>
				<div class="well" id="actionbuttons">
				<input class="btn btn-large btn-success " style="" type="submit" id="submitfoo" value="Guardar" />
				<a href="/foros/perfil" class="btn btn-large">Cerrar</a>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
{% endblock%}