{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {    
$('#commentform').submit(function(e) {
    $parent.jQuery.fancybox.close();

});
});
</script>
{% endblock %}
{% block contenido %}

<h2>Agregue su comentario</h2>

<form id="commentform"action="." method="POST">{% csrf_token %}
		{{ form.media }}
        	{{form.as_p}}
	 <a href="javascript:parent.jQuery.fancybox.close();" ><input id="boton-preguntar" type="submit" value="Responder"></a>
        <input type="hidden" name="next" value="{{ next }}" >
 </form>

{% endblock %}