
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#boton-preguntar").click(function() {	
		$.post('.', {
			comentario: $('#id_comentario').val(),
			csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
		}, function (data){
			window.top.location.href=data;			
			window.top.location.reload();
			window.parent.jQuery.fancybox.close();
		});
		
		return false;
	});
});
</script>


<h2>Agregue su comentario</h2>

<form id="commentform"action="." method="POST">{% csrf_token %}
        	{{form.as_p}}
	 <input id="boton-preguntar" type="submit" value="Responder">
        
 </form>

